* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/coming soon_img/GettyImages-1391171757.png");
    background-position: center;
    background-size: cover;
    padding: 0 8%;
}
#preloader {
    background: black url(../img/home_img/preloader.gif) no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.logo {
    width: 180px;
    padding: 20px 0;
    cursor: pointer;
}

.content {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.content h1 {
    font-size: 64px;
    font-weight: 600;

}
.content h1 span {
    color: #e3112d;
}
.rocket {
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}
@keyframes rocket {
    0% {
        bottom: 0;
        opacity: 0;
    }
    100% {
        bottom: 105%;
        opacity: 1;
    }
}
