*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;   
}
html {
    scroll-behavior: smooth;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background: black;
    
}
.logo {
    width: 200px; /* Adjust the width as needed */
    height: auto;
    
}
.navlist{
    display: flex;
}
.navlist a{
    display: inline-block;
    margin: 5px 20px;
    color: #fff;
    font-size: 0.82em;
    transition: all .55s ease;
    font-family: "LabSansPro-BoldItalic";
    letter-spacing: 3px;
}
.navlist a:hover{
    color: rgb(172, 172, 172);
}

.navlist i{
    font-size: 1.1em;
}
#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

body {
    font-family: Verdana, sans-serif; margin:0
}
.mySlides {
    display: none
}
img {
    vertical-align: middle;
}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 150px 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 100%;
  text-align: center;
  
}

.text h1{
    text-transform: uppercase;
    font-weight: 2;
    font-size: x-large;
    padding: 20px 0;
    letter-spacing: 2px;
    font-family: 'Audiowide', sans-serif;
    
  }

.text button{
  color: #fff;
  margin: 10px 20px;
  padding: 8px 22px;
  font-family: "LabSansPro-BoldItalic";
  font-size: 0.82em;
  letter-spacing: 2px;
  background: #292929;
  text-transform: uppercase;
}
.text .active, button:hover {
  background: black;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 2s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) 
{
  .prev, .next,.text {font-size: 11px}
.dot{
 height: 10px;
  width: 10px;
}
}
@media only screen and (max-width: 500px) {
  .prev, .next,.text {font-size: 14px}
}

.hero{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: black;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
section{
  padding: 0 19%;
}
.hero-text h5{
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-bottom: 40px;
}
.hero-text h1{
  font-family: 'Poiret One', cursive;
  font-size: 90px;
  line-height: 1;
  color: white;
  margin: 0 0 45px;
}
.hero-text h4{
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 50px;
}
.hero-text p{
  color: white;
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 40px;
}
.hero-img img{
  width: 400px;
  height: auto;
}
.hero-text a{
  display: inline-block;
  color: rgb(255, 255, 255);
  background: #000000;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .55s ease;
}
.hero-text a:hover{
  background: transparent;
  border: 1px solid rgb(0, 0, 0);
  transform: translateX(8px);
}
.hero-text a.ctaa{
  background: transparent;
  border: 1px solid white;
  margin-left: 20px;
}
.hero-text a.ctaa i{
  vertical-align: middle;
  margin-right: 5px;
}

.icons{
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY(-50%);
}
.icons i{
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: white;
  transition: all .50s ease;
}
.icons i:hover{
  color: #245496;
  transform: translateY(-5px);
}

.sponsors{
  padding: 10px;
  background-color: rgb(255, 255, 255);
}
.sponsors-text h1{
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.sponsors-text h1:after {
  content: "";
  position: absolute;
  bottom: -92%;
  left: 48%;
  border: 1.5px solid rgb(46, 46, 46);
  width: 3%;
}
.sponsor-img {
  text-align: center; /* Center align the images horizontally */
}


.sponsor-img {
  display: flex;  
  justify-content: center;
}

.sponsor {
  margin: 60px; /* Adjust spacing between sponsor images */
}

.sponsor img {
  max-width: 100%; /* Ensure images don't exceed their container */
  height: 85px;
  width: auto;
}
.sponsors button{
  position: relative;
  left: 43%; 
  border: transparent;
  background: transparent;
  font-family: "LabSansPro-BoldItalic";
  font-size: 0.82em;
  letter-spacing: 2px;
}
.sponsors .active, button:hover {
  color: rgb(142, 142, 142);
  cursor: pointer;
}


.upcoming-events{
  padding: 20px;
  background-color: black;
  
}
.upcoming-events-text h1{
  font-family: 'Audiowide', cursive;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}
.upcoming-events-text h1:after {
  content: "";
  position: absolute;
  bottom: -131%;
  left: 48%;
  border: 1.5px solid rgb(97, 97, 97);
  width: 3%;
}
.upcoming-events-text p{
  text-align: center;
  padding: auto;
  color: white;
  font-size: 12px;
}
.container-events {
  display: flex; /* Use flexbox for side-by-side layout */
}

.text-container {
  flex: 1; /* Equal width for both text elements */
  padding: 20px;
  margin: 15px;
  color: white;
  text-align: center;
}
.text-container h1{
  font-size: 80px;
  font-weight: 400;
}
.text-container h3{
  font-size: 25px;
  font-weight: 100;
}
.text-container p{
  font-size: 20px;
  color: rgb(112, 112, 112);
}

.tagline {
  overflow: hidden; /* Hide the overflow to prevent horizontal scrollbar */
  margin: 0;
  font-family: 'Audiowide', cursive;
  background: #000000;
}
.scrolling-text-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.scrolling-text {
  display: flex;
  animation: scrollText 10s infinite alternate;
  font-size: 3em;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}

.scrolling-text p{
  font-family: 'Audiowide', cursive;  
}

@keyframes scrollText {
  0% {
      transform: translateX(0%);
    }
  100% {
      transform: translateX(-50%);
    }
}
.instagram-media{
  padding: 10px;
  background-color: rgb(255, 255, 255);
}
.instagram-text h1{
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.instagram-text h1:after {
  content: "";
  position: absolute;
  bottom: -175%;
  left: 48%;
  border: 1.5px solid rgb(46, 46, 46);
  width: 3%;
}
.column {
  float: left;
  width: 20%;
  padding: 40px 2px;
}
.row::after {
  content: "";
  display: table;
}
.container {
  width: 90%;
  padding: 20px;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box {
  width: 250px;
  margin: 0 10px;
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.1);
  transition: 1s;
}
.box img{
  display: block;
  width: 100%;
  border-radius: 5px;
}
.box:hover {
  transform: scale(1.3);
  z-index: 2;
  filter: brightness(0.7);
  cursor: pointer;
}
.card-body {
  width: 10%;
  height: 10%;
  top:100px;
  left: 100px;
  position: absolute;
  
}

footer{
  position: relative;
  width: 100%;
  height: 200px;
  background: #101010;
  display:flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  overflow-x: hidden;
}
footer p:nth-child(1){
 font-size: 30px;
 color: white;
 margin-bottom: 20px;
 margin-left: 80px;
 font-family: "LabSansPro-BoldItalic";
 font-weight: 20;
}
footer p:nth-child(2){
 color: white;
 font-size: 17px;
 width: 500px;
 text-align: center;
 margin-left: 62px;
 line-height: 26px;
}
.social{
 display: flex;
 margin-left: 62px;
}
.social a{
 width: 45px;
 height: 45px;
 display: flex;
 align-items: center;
 justify-content: center;
 background:  #303030;
 border-radius: 50%;
 margin: 22px 10px;
 color: white;
 text-decoration: none;
 font-size: 20px;
}
.social a:hover{
 transform: scale(1.3);
 transition: .3s;
}
.end{
  position: absolute;
  color:#828181;
  bottom: 35px;
  right: 10px;
  font-size: 12px;
  
}